In [1]:
import pandas as pd

In [2]:
import os

In [104]:

df = {}

df["master"] = pd.DataFrame(columns=[
    "test",
    "algo version",
    "k",
    "time",
    "cut size",
])

df["updated"] = pd.DataFrame(columns=[
    "test",
    "algo version",
    "k",
    "time",
    "cut size"
])

with os.scandir('./') as entries:
    for entry in entries:
        if entry.name.split("_")[0] != "parhip":
            continue
        
        algo = entry.name.split("_")[1]
        test_num = entry.name.split("_")[2]
        k = entry.name.split("_")[6]
        configuration = entry.name.split("_")[-1]
        
        data = ""
        with open(entry.name) as f:
            data = f.read()
        
        lines = data.split("\n")
        
        n = lines[2].split(" ")[3]
        m = lines[2].split(" ")[5]
        time = lines[-4].split(" ")[-1]
        cut = lines[-3].split(" ")[-1]
        
        if configuration == "ecomesh":
            continue
            
#         print(algo, test_num, k, configuration, n, m, time, cut, data)
        df[algo] = df[algo].append({
            "test": test_num,
            "k": k,
            "algo version": algo,
            "time" : time,
            "cut size": cut
        },ignore_index=True)

In [105]:
result = pd.merge(df["master"], df["updated"], on=["test", "k"], suffixes=[" master", " updated"])

In [106]:
result = result.drop(columns = ["algo version master", "algo version updated"])

In [107]:
result["test"] = pd.to_numeric(result["test"])
result["k"] = pd.to_numeric(result["k"])
result["time master"] = pd.to_numeric(result["time master"])
result["cut size master"] = pd.to_numeric(result["cut size master"])
result["time updated"] = pd.to_numeric(result["time updated"])
result["cut size updated"] = pd.to_numeric(result["cut size updated"])

result = result.sort_values(["test", "k"])

In [108]:
result["time profit%"] = (result["time master"] - result["time updated"]) / result["time updated"] * 100
result["cut size profit%"] = (result["cut size master"] - result["cut size updated"]) / result["cut size updated"] * 100

result["time profit%"] = pd.Series(result["time profit%"], dtype=int)
result["cut size profit%"] = pd.Series(result["cut size profit%"], dtype=int)
# result["cut size profit%"] = pd.Series([int(round(time, 0)) for time in result["cut size profit%"]], dtype=int)

In [109]:
result

,test,k,time master,cut size master,time updated,cut size updated,time profit%,cut size profit%
9,2,4,28.7656,491441,23.3074,468436,23,4
6,2,16,33.0978,992433,30.0274,919906,10,7
18,2,64,73.3909,1212428,62.4995,1154793,17,4
28,3,4,19.7185,408109,17.6526,385415,11,5
20,3,16,26.6514,789785,22.7035,759718,17,3
24,3,64,44.3635,1047946,40.0900,1060624,10,-1
5,6,4,23.3850,460703,20.0413,461557,16,0
22,6,16,28.5094,873827,26.5975,883634,7,-1
21,6,64,44.0915,1160158,45.2260,1173034,-2,-1
4,7,4,45.7129,626527,31.7122,594464,44,5
3,7,16,48.6592,1174720,39.7289,1161243,22,1
15,7,64,80.6506,1608064,71.3327,1646016,13,-2
25,9,4,20.8036,478736,16.8096,435461,23,9
2,9,16,26.4615,818721,22.7491,814603,16,0
13,9,64,42.6250,1109844,36.6218,1129137,16,-1
27,11,4,24.5955,445363,22.9031,388147,7,14
17,11,16,29.7018,690820,24.7386,745215,20,-7
7,11,64,53.0814,979196,49.7404,1026954,6,-4
16,12,4,51.0468,892998,41.0956,889849,24,0
11,12,16,56.6169,1642316,48.0612,1713226,17,-4
10,12,64,97.8655,1971839,98.2863,1945108,0,1
23,14,4,14.1904,355230,11.4934,354054,23,0
8,14,16,18.0384,575270,16.3009,577270,10,0
29,14,64,33.2965,772086,31.8522,759148,4,1
12,16,4,15.1485,316470,12.6203,307471,20,2
14,16,16,17.7995,463101,15.3640,467792,15,-1
26,16,64,27.7276,621875,24.7437,610160,12,1
19,19,4,11.3954,274169,10.0123,269936,13,1
1,19,16,15.4334,518216,13.1697,510565,17,1
0,19,64,30.6170,684876,26.3628,688018,16,0

In [110]:
print(result[result["k"] == 4]["time profit%"].mean())
print(result[result["k"] == 16]["time profit%"].mean())
print(result[result["k"] == 64]["time profit%"].mean())

print(result[result["k"] == 4]["cut size profit%"].mean())
print(result[result["k"] == 16]["cut size profit%"].mean())
print(result[result["k"] == 64]["cut size profit%"].mean())

20.4
15.1
9.2
4.0
-0.1
-0.2